{% extends "gbsapp/base.html" %}
{% block title %}Henkilöasiakkaan tiedot{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-2">
  <h1>Omat tietosi</h1>
</div>
<p class="text-muted small mb-4">Tästä näet omat tietosi ja voit päivittää ne tarvittaessa. Sähköpostiosoitetta et voi muuttaa, sillä se on tunnistetietosi.</p>
<br><br>
{% if customer.custom_role == "kevytyrittäjä" %}
  <p class="text-info">Olet rekisteröitynyt kevytyrittäjänä.</p>
{% elif customer.custom_role == "työntekijä" %}
  <p class="text-info">Olet rekisteröitynyt työntekijänä.</p>
{% endif %}

<table>
  <tr>
    <th>Käyttäjätunnus/sähköpostiosoite:</th>
    <td>{{ customer.email }}</td>
  </tr>
  <tr>
    <th>Sukunimi:</th>
    <td>{{ customer.last_name }}</td>
  </tr>
  <tr>
    <th>Etunimi:</th>
    <td>{{ customer.first_name }}</td>
  </tr>
  <tr>
    <th>Henkilötunnus:</th>
    <td>{{ customer.person_id }}</td>
  </tr>
  <tr>
    <th>Puhelinnmero:</th>
    <td>{{ customer.phone }}</td>
  </tr>
  <tr>
    <th>Katuosoite:</th>
    <td>{{ customer.address }}</td>
  </tr>
  <tr>
    <th>Postinumero:</th>
    <td>{{ customer.postcode }}</td>
  </tr>
  <tr>
    <th>Postitoimipaikka:</th>
    <td>{{ customer.postoffice }}</td>
  </tr>
  <tr>
    <th>Pankkitili:</th>
    <td>{{ customer.bankaccount }}</td>
  </tr>
  <tr>
    <th>Ennakonpidätysprosentti:</th>
    <td>{{ customer.tax_rate }} %</td>
  </tr>
  <tr>
    <th>Veronumero:</th>
    <td>{{ customer.tax_number }}</td>
  </tr>
  <tr>
    <th>Asiakasrooli (kevytyrittäjä tai työntekijä):</th>
    <td>{{ customer.custom_role }}</td>
  </tr>
</table>
<br>
<a href="{% url 'update_customer' userid=customer.user_id %}" class="btn btn-sm " style="background:#993556; color:white;">+ Päivitä tietoja</a>

<style>
  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
  }
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  th {
    background-color: #f2f2f2;
    width: 30%; /* Säätää otsikkosarakkeen leveyden */
  }
</style>


{% endblock %}