{% extends "base.html" %} {% block content %}
<div
  class="d-flex justify-content-center align-items-center min-vh-100 bg-light px-3"
>
  <div
    class="card shadow-sm"
    style="max-width: 420px; width: 100%; border-radius: 12px"
  >
    <div class="card-body p-4">
      <h4 class="fw-semibold mb-3">Luo tili</h4>

      <form method="POST">
        {% csrf_token %} {{ form.non_field_errors }}

        <!-- <div class="mb-3">
          <label class="form-label">Etunimi</label>
          {{ form.first_name }}
        </div>

        <div class="mb-3">
          <label class="form-label">Sukunimi</label>
          {{ form.last_name }}
        </div> -->

        <div class="mb-3">
          <label class="form-label">Sähköposti</label>
          {{ form.email }}
        </div>

        <!-- <div class="mb-3">
          <label class="form-label">Käyttäjänimi</label>
          {{ form.username }}
        </div> -->

        <div class="mb-3">
          <label class="form-label">Salasana</label>
          {{ form.password1 }}
        </div>

        <div class="mb-3">
          <label class="form-label">Vahvista salasana</label>
          {{ form.password2 }}
        </div>

        <button type="submit" class="btn btn-primary w-100 py-2 mt-2">
          Rekisteröityä
        </button>

        <hr class="my-4" />

        <div class="text-center">
          <p class="mb-2">Onko sinulla jo tili?</p>
          <a
            href="{% url 'registration:loginLink' %}"
            class="btn btn-outline-primary w-100"
          >
            Kirjaudu sisään
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
