{% extends "base.html" %} {% load static %} {% block content %}
<div
  class="d-flex justify-content-center align-items-center min-vh-100 bg-light px-3"
>
  <div
    class="card shadow-sm"
    style="max-width: 420px; width: 100%; border-radius: 12px"
  >
    <div class="card-body p-4">
      <h4 class="fw-semibold mb-3">Kirjaudu</h4>

      <form method="POST" action="{% url 'registration:loginLink' %}">
        {% csrf_token %} {% spaceless %} {% if form.errors %}
        <div class="alert alert-danger">
          <ul class="mb-0">
            {% for field in form %} {% for error in field.errors %}
            <li><strong>{{ field.label }}:</strong> {{ error }}</li>
            {% endfor %} {% endfor %} {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %} {% endspaceless %}
        <!-- <div class="mb-3">
          <label class="form-label">Sähköposti</label>
          <input type="email" name="username" class="form-control" required />
        </div> -->

        <div class="mb-3">
          <label class="form-label">Käyttäjätunnus</label>
          <input type="text" name="username" class="form-control" required />
        </div>

        <div class="mb-3">
          <label class="form-label">Salasana</label>
          <input
            type="password"
            name="password"
            class="form-control"
            required
          />
        </div>

        <button type="submit" class="btn btn-primary w-100 py-2 mt-2">
          Kirjaudu sisään
        </button>

        <div class="text-center mt-3">
          <a
            href="{% url 'registration:forgotPwdLink' %}"
            class="text-decoration-none"
          >
            Unohtunut salasana?
          </a>
        </div>

        <hr class="my-4" />

        <div class="text-center">
          <p class="mb-2">Eikö sinulla ole tiliä?</p>
          <a
            href="{% url 'registration:createAccLink' %}"
            class="btn btn-outline-primary w-100"
          >
            Luo tili
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
