{% extends "base.html" %} {% load static %} {% block content %}
<div
  class="d-flex justify-content-center align-items-center min-vh-100 bg-light px-3"
>
  <div
    class="card shadow-sm"
    style="max-width: 420px; width: 100%; border-radius: 12px"
  >
    <div class="card-body p-4">
      <h2>Aseta uusi salasana</h2>

      <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">Nollaa salasana</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
